//colors
$bg_color: #FFC235;
$content_color: #FFFABC;
$footer_color: #67CAFB;
$border_color: #FFAD00;
$font_color_main: #000000;
//sizes
$page_height: 1500px;
$header_height: 100px;
$logo_width: 150px;
$logo_height: 150px;
//fonts
$font_main: 80px;
$font_title: 60px;
$font_family_1: 'Russo One', sans-serif;


// mobile 
$mTopBarHeight: 60px;

body {
    
    margin: 0;
    border: 0;
    padding: 0;
    
    font-family: $font_family_1 !important;
    
    background-color: $bg_color;
    
    .wrapper {
        
        .container-fluid { 
            padding-right: 0px !important; 
            padding-left: 0px !important; 
            margin-right: 0px !important; 
            margin-left: 0px !important; 
        }
        
        
        height: $page_height;
        
        .header {
            position: relative;  
            height: $header_height;
            background-color: $bg_color;
            z-index: 1000;
            
            .title {
                text-align: center; 
                position: absolute;
                font-size: $font_title;
                top: $header_height - 100px;
                left: 50%;   
            }
            
        }
        
        .main {
            margin-top: $header_height;
            
            .sidebar {
                z-index: 1500;
                text-align: center;
                background-color: $bg_color !important;
                height: 100%;

                left: 0px;
                top: 0px !important ;
                position: fixed;

                
                
                .logo {
                    a > img {
                        width: $logo_width;
                        height: $logo_height;
                    }
                    
                    a{
                        
                    }
                }
                
                ul {
                    
                }
                
                ul > li {
                    
                }
                
                ul > li > a {
                    
                }
            }
            
            .content {
                //margin: 10px 0px;
                padding: 20px 20px;
                max-width: 100%;
                box-sizing: border-box;

                background-color: $content_color; 
                
                
                
                .one-time {
                    
                    .item {
                        
                        a {
                            
                        }
                        
                        img {
                            
                        }
                    }    
                }
                
                .news {
                    
                    .item {
                        //border: 10px solid;
                        border-color: $border_color;
                        //margin: 3px 0;
                        
                        a {
                            overflow: hidden;
                            text-align: center;    
                        }
                        
                        img {
                            width: auto;
                            height: 200px;
                            float: left;
                            margin: 10px;   
                            
                        }
                    }
                }
            }
            
            
            
            
//            processing carousel
            .slick-dots {
                bottom: -40px !important;
                li button:before {
                font-size: 30px !important;    
            }
            li {
                margin:  15px !important;    
            }
            }

            .slick-dotted > button {
                z-index: 100;    
            }

            .slick-prev {
                left: 20px !important;    
            } 



            .slick-next {
                right: 25px !important;    
            }


            .slick-dotted > button:before {
                color: #5E5E5E;
                font-size: 30px !important;    
            }


            .slick-slide { 
                padding: 0px 50px;
            }
            
            
        }  
        
        .footer {
                 background-color: $footer_color;
                text-align: center;
                position: absolute;
                left: 0;

               
                width: 100%;
                height: 100px;
                z-index: 2000;
                
                ul{
                    display: inline-flex;
                    position: absolute;
                    left: 10%;
                    top: 40px; 
                    
                }
                
                a > li {
                    margin: 0 30px;     
                }
                
                p {
                    position: absolute;
                    max-width: 30%;
                    left: 50%;
                    top: 40px;
                }
            }
    }    
}

@media (max-width: 992px) {
    body {
        min-width: 320px; 
        
        .navbar-toggle {
            display: block !important; 
        }
        .container-fluid { 
            padding-right: 0px !important; 
            padding-left: 0px !important; 
            margin-right: 0px !important; 
            margin-left: 0px !important; 
        }
        
        .wrapper {
            
            
//            
//            .navbar {
//                 
//                
//                header {
//                    display: none !important;
//                }
//                
//                
//            }
//                
        
        
            .main {
                
                margin-top: $mTopBarHeight; 
                
                
                    .sidebar {
                    
                        .logo {


                            a  img {
                                   width: $logo_width;
                                 height: $logo_height;   

                            }

                            // title in left menu
                            a {

                            }

                            .nav {
                                ul {

                                    a > li {

                                    }

                                }
                            }



                        }
                    
                    }
                
                    .navbar {
                        height: $mTopBarHeight;
                        background-color: $bg_color;
                        width: 100%;
                        left: 0px !important;
                        
                        h3 {
                            position: absolute;
                            left: 10%;
                            top: $mTopBarHeight - 60px;
                        }
                        
                        button {
                            position: absolute;
                            right: 5%;
                            top: $mTopBarHeight - 55px;
                        }
                        
                        
                    }

            
                
                
                .content {
                    
                    background-color: $content_color;
                    .one-time {
                        display: none !important   ; 
                    }
                }
                
                
                

            }  
            
            .footer {
                    box-sizing: border-box;
                    bottom: auto ; 
                    width: 100%;
                    z-index: 1400;
                    p {                       
                        display: none;           
                    }
                }
        }
    }
}